<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bookshelf.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @bookshelf.user_id %>
</p>

<%= link_to 'Edit', edit_bookshelf_path(@bookshelf) %> |
<%= link_to 'Back', bookshelves_path %>
